@charset "UTF-8";
.title{display: flex; align-items: center;}
#title{flex-grow:1; text-align: center; margin-top:2em;}

.container{display: flex;flex-direction: row;align-items: center;}
.img-wrapper{flex:1;text-align: center;}
.img-wrapper img{max-width: 100%;}
.text-wrapper{flex:2;padding: 0 20px;}

.button{text-align: right;}
